{% extends 'base.html' %}

{% block conteudo %}

  <div class="container-md" style="margin: 56px auto 32px; padding: 0 32px;">
    <div class="row">
      <div class="col-md-12">
        <h1>Categorias</h1>
      </div>
    </div>

    <form method="post" class="row" style="margin-top: 16px;">
        {% csrf_token %}
      <div class="col-md-4">
        <label for="pesquisa" class="form-label">Pesquisar categoria</label>
        <input type="text" class="form-control" id="pesquisa" name="filter"
               placeholder="Digite o nome da categoria">
      </div>

      <div class="col-md-4 d-flex align-items-end">
        <button
          type="submit"
          class="btn btn-primary"
          id="pesquisar-produto"
        >
          Pesquisar
        </button>
          &nbsp;
          <a href="/add_category/">
          <button
                type="button"
                class="btn btn-success"
          >
          Adicionar
          </button>
              </a>
      </div>
    </form>


    <div class="row" style="margin-top: 32px;">
      <table class="table table-striped">
        <thead>
          <th>Nome da categoria</th>
          <th>Descrição</th>
          <th></th>
        </thead>

        <tbody>

            {% for category in categories %}
                <tr>
                    <td>{{ category.nome }}</td>
                    <td>{{ category.descricao }}</td>
                    <td>
                      <a href="{% url 'url_show_category' category.id %}" class="btn btn-primary btn-sm">
                        Visualizar <i style="font-size: 12px;" data-feather="eye"></i>
                      </a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

{% endblock %}