{% extends 'base.html' %}

{% block conteudo %}

  <div class="container-md" style="margin: 56px auto 32px; padding: 0 32px;">
    <div class="row">
      <div class="col-md-12">
        <h1>Estantes</h1>
      </div>
    </div>

    <form method="post" class="row" style="margin-top: 16px;">
        {% csrf_token %}
      <div class="col-md-4">
        <label for="pesquisa" class="form-label">Pesquisar estante</label>
        <input type="text" class="form-control" id="pesquisa" name="filter"
               placeholder="Digite o codigo da estante">
      </div>

      <div class="col-md-4 d-flex align-items-end">
        <button 
          type="submit" 
          class="btn btn-success" 
          id="pesquisar-produto"
        >
          Pesquisar
        </button>
      </div>
    </form>

    <div class="row" style="margin-top: 32px;">
      <table class="table table-striped">
        <thead>
          <th>Nome da estante</th>
          <th>Galpão</th>
          <th>Corredor</th>
          <th>N° prateleiras</th>
          <th></th>
        </thead>

        <tbody>

        {% for shelf in shelves %}
            <tr>
                <td>{{ shelf.codigo }}</td>
                <td>{{ shelf.galpao }}</td>
                <td>{{ shelf.corredor }}</td>
                <td>{{ shelf.quantidade_prateleiras }}</td>
                <td>
                  <a href="{% url 'url_show_shelf' shelf.id %}" class="btn btn-primary btn-sm">
                    Visualizar <i style="font-size: 12px;" data-feather="eye"></i>
                  </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  <script>
    feather.replace()
  </script>

{% endblock %}