{% extends 'base.html' %}

{% block conteudo %}
  
  <div class="container-md" style="margin: 56px auto 32px; padding: 0 32px;">
    <div class="row">
      <div class="col-md-12">
        <h1>Produtos</h1>
      </div>
    </div>

    <form method="post" class="row" style="margin-top: 16px;">
        {% csrf_token %}
      <div class="col-md-4">
        <label for="pesquisa" class="form-label">Pesquisar produto</label>
        <input type="text" class="form-control" id="pesquisa" name="filter"
               placeholder="Digite o nome ou código">
      </div>

      <div class="col-md-4">
        <label for="categoria" class="form-label">Pesquisar por categoria</label>
        <select class="form-select" id="categoria" name="category-filter">
          <option value="0" selected>Selecione uma categoria</option>
            {% for category in categories %}
                <option value="{{ category.id }}">Categoria {{ category.nome }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="col-md-4 d-flex align-items-end">
        <button
          type="submit"
          class="btn btn-primary"
          id="pesquisar-produto"
        >
          Pesquisar
        </button>
          &nbsp;
          <a href="/add_product/">
          <button
                type="button"
                class="btn btn-success"
          >
          Adicionar
          </button>
              </a>
      </div>
    </form>

    <div class="row" style="margin-top: 32px;">
      <table class="table table-striped">
        <thead>
          <th>Nome do produto</th>
          <th>Categoria</th>
          <th>Estante</th>
          <th></th>
        </thead>

        <tbody>
          {% for product in products %}
              <tr>
                <td>{{ product.nome }}</td>
                <td>{{ product.id_categoria.nome }}</td>
                <td>{{ product.id_estante.codigo }}</td>
                <td>
                  <a href="{% url 'url_show_product' product.id %}" class="btn btn-primary btn-sm">
                    Visualizar <i style="font-size: 12px;" data-feather="eye"></i>
                  </a>
                </td>
              </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

{% endblock %}