{% extends 'base.html' %}
{% load bootstrap %}
{% block conteudo %}
    <div class="container-md"
         style="margin: 56px auto 32px; padding: 0 32px; max-width: 80%">

    <div class="row">
      <div class="col-md-12">
        <h1>{{ acao }}</h1>
      </div>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | bootstrap }}
    <button type="submit"
            class="btn btn-primary">Salvar</button>
    <button type="button"
            onclick="location.href='{{ redirect_url }}'"
            class="btn btn-secondary">Cancelar</button>
    </form>
    </div>

{% endblock %}