{% extends 'base.html' %}

{% block conteudo %}

  <div class="container-md" style="margin: 56px auto 32px; padding: 0 32px;">
    <div class="row">
        <h1>Deseja exluir o registro: {{ registro }}?</h1>
      <div class="col-md-12"></div>
        <form method="post">
            {% csrf_token %}
            <a href="{{ redirect }}">
              <button type="button" class="btn btn-secondary">Voltar</button>
                </a>
            <button type="submit" class="btn btn-danger">Confirmar</button>

        </form>
    </div>
    </div>
  </div>

{% endblock %}